dom1.css

h1 {
    background-color: lightskyblue;
}

button {
    background-color: #4CAF50;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  button:active {
    background-color: #4CAF50;
  }

  button#unhide-btn {
    background-color: #008CBA;
    text-align: center;
     display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  
  button#unhide-btn:hover {
    background-color: #006B9F;
  }
  
  button#unhide-btn:active {
    background-color: #008CBA;
  }
  